// Specific CSS for your home-page
#main-home-page-banner {
  background-color: #00a991;
  width: 100%;
  height: 160px;
}
.text-banner-one {
  font-size: 45px;
  position: relative;
  top: 30%;
  color: #fff;
  font-weight: 900;
}
.text-banner-two {
  font-size: 25px;
  font-family: "Lato";
  position: relative;
  top: 30%;
  color: #fff;
  font-weight: 900;
}
#map {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -35px;
}




#info {
  font-family: "nunito";
  font-size: 30px;
}
#box-country {
  margin-top: 10px;
  height: 500px;
  width: 100%;
  box-shadow: 10px 0px 15px rgba(10, 10, 10, 0.3);

  margin-top: 15px 0px;
  background-color: white;
  border-radius: 10px;
}
#title {
  font-size: 35px;
  margin-bottom: 20px;
  padding: 20px;
}
