// Specific CSS for your home-page
#main-home-page-banner {
  background-image: url("https://res.cloudinary.com/dgw2hw9oa/image/upload/v1623769956/banner_bjtpsu.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
}

.search {
  width: 40%;
}

.title-card {
  color: #00a891;
  font-family: 'PaytoneOne-Regular';
}

.search-bar {
  font-size: 20px;
  border-radius: 16px;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  color: white;
  border: 1px solid white;
  width: 340px;
  height: 35px;
  padding: 20px;
}

.search-bar::placeholder {
    color: white;
}

.special {
  background-color: #cf61e4;
}

.text-banner-one {
  font-size: 30px;
  position: relative;
  top: 30%;
  color: #fff;
  font-weight: 900;
}
.text-banner-two {
  font-size: 25px;
  font-family: "Lato";
  position: relative;
  top: 30%;
  color: #fff;
  font-weight: 900;
}
#map {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -35px;
}

#info {
  font-family: "nunito";
  font-size: 30px;
}
#box-country {
  margin-top: 10px;
  height: 500px;
  width: 100%;
  box-shadow: 10px 0px 15px rgba(10, 10, 10, 0.3);

  margin-top: 15px 0px;
  background-color: white;
  border-radius: 10px;
}
#title {
  font-size: 35px;
  margin-bottom: 20px;
  padding: 20px;
}
