// @font-face {
//   font-family: 'Montserrat-Light';
//   src: font-url('/assets/Montserrat-Light.ttf');
// }


// Specific CSS for your home-page
.home-banner {
  background-image: url("https://res.cloudinary.com/dgw2hw9oa/image/upload/v1623769956/banner_bjtpsu.jpg");
  background-size: cover;
  width: 100%;
  height: 350px;
  color: #eee;
}

.search {
  width: 40%;
}

.search-form {
  display: flex;
  .form-group {
    height: 100%;
    margin: 0;
  }
  .form-control {
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }
}

.title-card {
  color: #00a891;
  font-family: 'Montserrat';
}

.search-bar {
  font-size: 20px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  color: white;
  border: 1px solid white;
  width: 340px;
  height: 35px;
  padding: 20px;
}

.search-bar::placeholder {
    color: white;
}

.special {
  background-color: #cf61e4;
}

.text-banner-one {
  font-size: 30px;
  position: relative;
  top: 30%;
  color: #fff;
  font-weight: 900;
}
.text-banner-two {
  font-size: 25px;
  font-family: "Montserrat";
  position: relative;
  top: 30%;
  color: #fff;
  font-weight: 900;
}
#map {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -35px;
}


#info {
  font-family: "Montserrat-Light";
  font-size: 30px;
}

#box-country {
  margin-top: 10px;
  height: 500px;
  width: 100%;
  box-shadow: 10px 0px 15px rgba(10, 10, 10, 0.3);

  margin-top: 15px 0px;
  background-color: white;
  border-radius: 10px;
}

#title {
  font-size: 35px;
  margin-bottom: 20px;
  padding: 20px;
}

.styled-font {
  color: #00016b;
  font-weight: bold;
}

.card {
  color: #00016b;
}
