<div id="orange-home-page-banner">
  <div class="container">
    <div class="row">
        <div class="col-sm-12-text-center col-md-6">
          <p class="text-banner-one">
            <span id="banner-typed-text"></span>
          </p>
        </div>
        <div class="col-12-text-center col-md-6">
          <h3 class="text-banner-two">Navigate entry restrictions and quarantine requirements for any destination with our live map.</h3>
        </div>
      </div>        
    </div>
  </div>

  <div class="container-map">
    <div class="row">
      <div class="container-xxl" id="map"></div>
    </div> 
  </div>


  <div class="bg-white m-0">
    <div class="container text-center">
      <div class="row">
        <h1 class="col-12 mt-4">Solutions for travelers during the COVID-19 pandemic</h1>
      </div>
    </div>
    <div class="container text-center">
      <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-self-service.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Set up alerts to get notified by email when a country's policy changes</p>
            <br>
            <% if user_signed_in? %>
              <%= link_to "Manage Alerts", user_path(current_user), class: 'btn'  %>
            <% else %>
              <a type="button" href="users/sign_in" class="btn">Manage alerts</a>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-information.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Compare countries' Coronavirus restrictions data.</p>
            <br>
            <a type="button" href="countries/compare" class="btn">Compare countries</a>
          </div>
        </div>
        <div class=" col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-covid.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Explore flights with our partner Kiwi</p>
            <br>
            <a type="button" href="#" class="btn">Explore flights</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="widget-holder"></div>
    <script 
    data-affilid="rodrigotravelcolor" 
    data-results-only="true" 
    src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
    </script>
  </div>
</div>
