<div id="orange-home-page-banner">
  <div class="container">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
          <p class="text-banner-one">
            <span id="banner-typed-text"></span>
          </p>
        </div>
        <div class="col-12-text-center col-md-6">
          <h3 class="text-banner-two">Navigate entry restrictions and quarantine requirements for any destination with our live map.</h3>
        </div>
      </div>        
    </div>
  </div>
</div>

  <div class="container-map">
    <div class="row">
      <div class="" id="map"></div>
    </div> 
  </div>

  <div class="bg-white m-0">
    <div class="container text-center">
      <div class="row">
        <h1 class="col-12 mt-4">Solutions for travelers during the COVID-19 pandemic</h1>
      </div>
    </div>
    <div class="container text-center">
      <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-self-service.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">The fastest and easiest way to cancel your booking is online via our refunds & cancellations form.</p>
            <a type="button" href="#" class="btn">Go somewhere</a>        
          </div>
        </div>
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-information.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Coronavirus information Read about how the new travel restrictions might affect your trip.</p>
            <a type="button" href="#" class="btn">Go somewhere</a>
          </div>
        </div>
        <div class=" col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-covid.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Get 30% off your COVID-19 test Use the code KIWILGC with our partner LetsGetChecked.</p>
            <a type="button" href="#" class="btn">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="widget-holder"></div>
    <script 
    data-affilid="rodrigotravelcolor" 
    data-results-only="true" 
    src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
    </script>
  </div>
</div>
