<div id="main-home-page-banner">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
        <div class="col-md-6 d-none d-md-block">
          <p class="text-banner-one">
            <span id="banner-typed-text"></span>
            <h3 class="text-banner-two">Navigate entry restrictions and quarantine requirements for any destination with our live map.</h3>
          </p>
        </div>
        <div class="d-flex align-items-center justify-content-center search">
          <form action="/countries" accept-charset="UTF-8" method="get" class="d-flex grid justify-content-center align-items-stretch">
            <input type="search" name="name" id="name" class="left search-bar" placeholder="Where are you travelling to?" required>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div id="myBtn"></div>
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
        <div class="container text-center">
          <div class="row">
            <div class="col-12">
              <div id="info">
                <h3 id="title">Click on a country to explore</h3>
                <h4 id="status"></h4>
                <h4 id="test"></h4>
                <h4 id="quarantine"></h4>
                <h4 id="color"></h4>
                <h4 id="content"></h4>
                <span id="link"></span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Open modal box for the map --> 

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

  <!-- Create an element where the map will take place -->
<div class="container-map">
  <div class="row">
    <div class="col-md-12">
      <svg id="my_dataviz" width="800" height="500" data-countries="<%= @json_array %>"></svg>
      <div class="tooltip"></div>
    </div>    
  </div>  
</div>

<div>
  <div class="bg-white m-0">
    <div class="container text-center">
      <div class="row">
        <h1 class="col-12 mt-4 title-card">Solutions for travelers during the COVID-19 pandemic</h1>
      </div>
    </div>
    <div class="container text-center">
      <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-self-service.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Set up alerts to get notified by email when a country's policy changes</p>
            <br>
            <% if user_signed_in? %>
              <%= link_to "Manage Alerts", user_path(current_user), class: 'btn'  %>
            <% else %>
              <a type="button" href="users/sign_in" class="btn">Manage alerts</a>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-information.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Compare countries' Coronavirus restrictions data.</p>
            <br>
            <a type="button" href="countries/compare" class="btn">Compare countries</a>
          </div>
        </div>
        <div class=" col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-covid.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Explore flights with our partners and find the best price.</p>
            <br>
            <a type="button" href="#" class="btn">Explore flights</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="widget-holder"></div>
    <script
    data-affilid="rodrigotravelcolor"
    data-results-only="true"
    src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
    </script>
  </div>
</div>
