<div id="main-home-page-banner">
  <div class="container">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
          <p class="text-banner-one">
            <span id="banner-typed-text"></span>
          </p>
        </div>
        <div class="col-12-text-center col-md-6">
          <h3 class="text-banner-two">Navigate entry restrictions and quarantine requirements for any destination with our live map.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-map">
  <div class="row">
    <div class="col-12">
      <div class="svg-frame">
        <svg id="my_dataviz" width="1800" height="600" data-countries="<%= @json_array %>"></svg>
        <div class="tooltip">
          <span id="tooltip-color"></span>
        </div>
      </div>
    </div>

     < <!-- The Modal -->
  <div id="myMoodal" class="modals">
    <div class="modals-content">
      <span class="close">&times;</span>
        <div class="container text-center">
          <div class="row">
            <div class="col-12">
              <div id="info">
                <h3 id="title">Click on a country to explore</h3>
                <h4 id="status"></h4>
                <h4 id="test"></h4>
                <h4 id="quarantine"></h4>
                <h4 id="color"></h4>
                <h4 id="content"></h4>
                <span id="link"></span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

    <div class="cards-container">
      <div id="list-red" class="list-card alert-danger">
        <ul>
          <h5>Red List countries</h5>
          <h6>Before return:</h6>
          <li>Take a COVID-19 test</li>
          <li>Book a <a href="https://www.gov.uk/guidance/booking-and-staying-in-a-quarantine-hotel-when-you-arrive-in-england">quarantine hotel</a> , and 2 COVID-19 tests – for use after return</li>
          <li>Complete passenger locator <a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">form</a></li>
          <br>
          <h6>On return:</h6>
          <li>Quarantine for 10 days in quarantine hotel</li>
          <li>Take a COVID-19 test on or before day 2 and on or after day 8 of quarantining</li>
        </ul>
      </div>

      <div id="list-amber" class="list-card alert-warning">
        <ul>
          <h5>Amber List countries</h5>
          <h6>Before return:</h6>
          <li>Take a COVID-19 test</li>
          <li>Book and pay for day 2 and day 8 COVID-19 travel tests – for use after return</li>
          <li>Complete a passenger locator <a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">form</a></li>
          <br>
          <h6>On return:</h6>
          <li>Quarantine for 10 days at home/where you are staying</li>
          <li>Take a COVID-19 test on or before day 2 and on or after day 8 of quarantining</li>
        </ul>
      </div>
      <div id="list-green" class="list-card alert-success">
        <ul>
          <h5>Green List countries</h5>
          <h6>Before return:</h6>
          <li>Take a COVID-19 test</li>
          <li>book and pay for a day 2 COVID-19 test – for use after return</li>
          <li>Complete passenger locator <a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">form</a></li>
          <br>
          <h6>On return:</h6>
          <li>Take a COVID-19 test on or before day 2 after you arrive.</li>
          <li>You do not need to quarantine unless the test result is positive.</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div>
  <div class="bg-white m-0">
    <div class="container text-center">
      <div class="row">
        <h1 class="col-12 mt-4">Solutions for travelers during the COVID-19 pandemic</h1>
      </div>
    </div>
    <div class="container text-center">
      <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-self-service.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Set up alerts to get notified by email when a country's policy changes</p>
            <br>
            <% if user_signed_in? %>
              <%= link_to "Manage Alerts", user_path(current_user), class: 'btn'  %>
            <% else %>
              <a type="button" href="users/sign_in" class="btn">Manage alerts</a>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-information.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Compare countries' Coronavirus restrictions data.</p>
            <br>
            <a type="button" href="countries/compare" class="btn">Compare countries</a>
          </div>
        </div>
        <div class=" col-12 col-md-3 card">
          <img src="https://www.kiwi.com/images/hero/icon-covid.svg" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <p class="card-text">Explore flights with our partners and find the best price.</p>
            <br>
            <a type="button" href="#" class="btn">Explore flights</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="widget-holder"></div>
    <script
    data-affilid="rodrigotravelcolor"
    data-results-only="true"
    src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
    </script>
  </div>
</div>
