.card {
  margin: 20px 0px;
  border: none;
  max-height: 600px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 20px;
}
.card img {
  height: 200px;
  width: 100px;
}
.card-body {
  margin: 0px;
  padding-top: 0px;
}
