.card-category {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    background-image {
        justify-content: center;
        align-items: center;
    }

    img {
        height: 60px;
        width: 65px;
    }

}

.country-body {
    margin-top: 40px;
}

.country-show-btn {
    background-color: #009882;
    border-style: none;
    color: white;
    margin-right: 10px;
}

.country-show-btn:hover {
    background-color: #009882;
    border-style: none;
    color: white;
}

.cntry-shw-reviews {
    background-color: rgb(225, 236, 248);
    padding-top: 15px;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center!important;
}

#flt-explr {
    margin-top: 0px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.row {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.bell{
  color: #007BFF;
}

.entry-req-card {
    border-bottom: 1px solid rgb(236, 233, 233);
    padding: 5px 0;
}

#bottom {
    border-bottom: 0;
}

.color-box {
    width: 60px;
    height: 40px;
    border-radius: 4px;
}

.colorcrd {    
    align-items: center;
  }

  .fa-star {
      color:#FFC100;
  }