.title-font {
  font-family: 'Lato';
  color: #9f9aa4;
}

.sub-title {
  font-family: 'Lato';
  color: #9f9aa4;
  font-size: 20px;
}

.module {
  min-height: 30px;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  text-align: center;
}

.module_info {
  display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.module_URL {
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.color-box {
  width: 30px;
  height: 30px;
  border-radius: 35px;
}

.trans {
  color: transparent;
}

.county-col {
  text-align: center;
}


.empty {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  h1 {
    margin-bottom: 0;
  }
}

.filled {
  align-items: center;
  display: flex;
  height: 130px;
  width: 100%;
  text-align: center;
  justify-content: center;
  overflow: scroll;
  text-overflow: ellipsis;
  p {
    margin-bottom: 0;
  }
}
.f-start {
  align-items: flex-start;
}

.short {
  height: 50px;
}

.compare-empty-pic {
  background-size: cover;
  background-position: center;
  height: 600px;  
  display: flex;
  justify-content: center!important;
  align-items: center!important;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cmpr-emty-cntnr {  
  width: 80%;
  justify-content: center!important;
  align-items: center!important;
}
