// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "card";
@import "show_page";
@import "compare_form";
@import "footer";

//added below to fix the shared footer to keep at the bottom. please dont remove
body {
height: 100vh;
display: flex;
flex-direction: column;
}