
.hidden {
  display: none;
}
div.tooltip {
  color: #222;
  background: #fff;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: 0.2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
}

.list-card > ul {
  padding: 2px 20px;
}

ul > li {
  font-size: 12px;
}

.container-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 800px;
  padding: 10px;
}
.svg-frame{
  width: 1100px;
  height: 600px;
  position: relative;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
}

#my_dataviz {
  border-radius: 4px;
  background-color: rgb(170, 220, 250);
}
.cards-container {
  position: absolute;
  top: 0px;
  left: -50px;
  height: 600px;
  width: 240px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.list-card{
  width: 100%;
  height: 190px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
  padding-top: 4px;
}

.list-card > ul > h6 {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.map-title{
  text-align: center;
  position: absolute;
  top: -75px;
  left: 300px;
}
