// @font-face {
//   font-family: 'Pacifico-Regular';
//   src: font-url('/assets/Pacifico-Regular.ttf');
// }

// @font-face {
//   font-family: 'Montserrat-Light';
//   src: font-url('/assets/Montserrat-Light.ttf');
// }


.navbar-lewagon {
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  max-height: 80px;
  padding: 0px 280px;
  background-color: white;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.Montserrat {
  font-family: 'Montserrat'
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  text-align: center;
  margin-bottom: 20px;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.title-navbar {
  font-weight: 500;
  font-size: 40px;
  margin: 0px;
}

.travel-color-title {
  margin-left: -20px;
  color: #00016b;
  font-family: 'Pacifico';
  font-size: 25px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(122, 119, 119);
}

.dropdown-menu {
  border-radius: 4px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(128, 125, 125, 0.1);
}

.avatar {
  width:55px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: 1px;
}

.nav-link {
  display: block;
  padding: 1.5rem 1rem;
  font-size: 14px;
  margin-right: 5px;
}

/* li {
  float: left;
}

.nav-item a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
} */
