.navbar-lewagon {
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-color: #fff;
  max-height: 80px;
  position:fixed;
  top:0;
  width: 100%;
  z-index:1000;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
}
.title-navbar {
  font-family: "Lato";
  font-weight: 500;
  font-size: 40px;
  margin: 0px;
}
.travel-color-title {
  margin-left: -20px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(122, 119, 119);
}

.dropdown-menu {
  border-radius: 4px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(128, 125, 125, 0.1);
}

.avatar {
  width: 74px;
  border-radius: 50%;
}

.nav-link {
  display: block;
  padding: 1.5rem 1rem;
}

/* li {
  float: left;
}

.nav-item a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
} */