.navbar-lewagon {
  background-position: center ;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-color: #fff;
  max-height: 80px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
}
.title-navbar {
  font-family: 'Russo One', cursive;
  font-weight: 500;
  font-size: 40px;
  margin: 0px;
}
.travel-color-title {
  margin-left: -20px;
 
}
