/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modals {
  top: 340px;
}
.modals-content {
  margin: auto;
  padding: 10px;
  box-shadow: 10px 0px 15px rgba(10, 10, 10, 0.3);
  width: 300px;
  margin-top: 0px 0px;
  background-color: white;
  border-radius: 10px;


}


#name{
  border-radius: 4px;
}
#test{
  font-size:20px;
}
#quarantine{
  font-size:20px;
}
#status{
  font-size:20px;
}


.alert {
  position: absolute;
  bottom: 640px;
  right: 1399px;
}
#svg {
  width: 100%;
  height: auto;
}
#myMoodal {
  position: absolute;
  top: 4px;
  right: 4px;
}
h3 {
  font-size: 20px !important;
}
h4 {
  font-size: 16px !important;
}
