/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  top: 340px;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  box-shadow: 10px 0px 15px rgba(10, 10, 10, 0.3);
  width: 300px;
  margin-top: 0px 0px;
  background-color: white;
  border-radius: 10px;
  height: 450px;
}
.alert {
  position: absolute;
  bottom: 640px;
  right: 1399px;
}
#svg {
  width: 100%;
  height: auto;
}
