.usr-card-category {
    background-size: cover;
    // background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.user-shw-alerts {
    background-color: rgb(225, 236, 248)!important;
    padding-bottom: 15px;
    border-radius: 5px;
    max-height: 100vh;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.user-accnt-rvw {
    background-color: rgb(225, 236, 248)!important;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-height: 70vh;
    overflow-y: scroll;   
    min-height: 50vh;
    ul > li {
      font-size: 16px;
    }
    h2 {
      color: #00016B;
    }
}

.usr-my-dtls { 
    height: 30vh;
  li {
    font-size: 16px;
  }
  ul {
    // !!!
    padding: 1;
  }
}

#add_alert_form {
  display: flex;
  .form-group {
    height: 100%;
    margin: 0;
  }
  .form-control {
    border: 1px solid rgb(24, 14, 165);
    background-color: transparent;
  }
}

#add_alert_form h3 {
    margin-bottom: 10px!important;
}

.show-page-padding {
  padding-bottom: 10px;
}


  
